.main{
    background-color:  #252734;
}
.sub{
    background-color: black;
    display: flex;
    height: 3.5rem;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    box-shadow: 0 0 1rem;
  
}
.div1{
    color: white;
    height: 2rem;
    margin-bottom: 0.70rem;
}
.div2{
    background-color: green;
    color: white;
    padding-top: 0.20rem;
    padding-bottom: 0.20rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;
    border-color: green;
    border: none;
}
.div2:hover{
    background-color: rgba(0, 128, 0, 0.466);
}
.sub2{
 
    background-color: #252734;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
    
}
.img1{
    width: 10rem;
    background-color: black;
    color: white;
    margin-left: -1.5rem;
}
.button1{
    color: white;
    background-color: #252734;
    padding: 1rem 2.5rem;
    border-radius: 5rem;
    border-color:  white;
}
.button1:hover{
    background-color: rgba(255, 255, 255, 0.368);
}
.div3{
    display: flex;
    column-gap: 7rem;
    margin-top: 1rem;
}
.b1{
    padding-left: 1rem;
}
.isub3{
    color: white;
    line-height: 4rem;
    margin-left: 5rem;
    margin-top: 4rem;
}
.head2{
    margin-left: -0.05rem;
}
.b2{
    color: white;
    background-color: #252734;
    padding: 0.10rem 5rem;
    border-radius: 4rem;
    border-color:  white;
    margin-top: 2rem;
}
.b2:hover {
    background-color: rgba(255, 255, 255, 0.368); 
}
.image2{
    width: 35rem;
    margin-top: 4rem;
}
.sub3{
    display: flex;
    justify-content: space-around;
    
}
.head3{
    margin-left: 1rem;
    
}
.br1{
    font-size: 5rem;
    margin-bottom: -1rem;
}

.the1{
    padding-right: 2rem;
}
.bar{
    display: none;
}
.sub4{
    color: white;
    background-color: #484b5a62;
    padding-left: 7rem;
    padding-top: 5rem;
}
.para2{
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.404);
}
.b3{
    padding-right: 1rem;
}
.head4{
    font-size: 4rem;
}
.div6{
    background-color: #252734;
    width: 23rem;
    padding: 3.5rem 0;
    padding-left: 5.5rem;
    margin-top: 5rem;
    padding-bottom: 10rem;
}
.img3{
    width: 4rem;
    padding-bottom: 3rem;
}
.subp3{
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    margin-top: 30rem;
}
.progress{
    display: flex;right: ;
    color: black;
    justify-content:
    padding-left: 2rem;
    padding-right: 2rem;
    width: 200px;
    
}

.pro{
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.404);
    }